
c++/quiz 1/CMakeProject1/.vs/CMakeProject1/v16/Browse.VC.opendb
c++/quiz 1/CMakeProject1/.vs/CMakeProject1/v16/Browse.VC.db-wal
c++/quiz 1/CMakeProject1/.vs/CMakeProject1/v16/Browse.VC.db-shm
/.vs/-SP-Python-Essentials-DP/v16/Browse.VC.opendb
/.vs/-SP-Python-Essentials-DP/v16/Browse.VC.db-wal
/.vs/-SP-Python-Essentials-DP/v16/Browse.VC.db-shm
/.vs/-SP-Python-Essentials-DP/v16/Browse.VC.db
*.opendb
