c++/quiz 2/quiz 2/.vs/quiz 2/v16/Browse.VC.opendb
c++/quiz 1/CMakeProject1/.vs/CMakeProject1/v16/Browse.VC.opendb
c++/quiz 1/CMakeProject1/.vs/CMakeProject1/v16/Browse.VC.db-wal
c++/quiz 1/CMakeProject1/.vs/CMakeProject1/v16/Browse.VC.db-shm
/.vs/-SP-Python-Essentials-DP/v16/Browse.VC.opendb
/.vs/-SP-Python-Essentials-DP/v16/Browse.VC.db-wal
/.vs/-SP-Python-Essentials-DP/v16/Browse.VC.db-shm
/.vs/-SP-Python-Essentials-DP/v16/Browse.VC.db
/c++/quiz 2/quiz 2/.vs/quiz 2/v16/Browse.VC.opendb
.vs/SP-Python-Essentials-DP/v16/Browse.VC.opendb
/c++/module-2-quiz-2/out/build/x64-debug/CMakeFiles
/c++/module-2-quiz-2/out/build/x64-debug/Testing/Temporary
/.vs/SP-Python-Essentials-DP/v17/Browse.VC.db
/c++/module-2-quiz-2/.vs/module-2-quiz-2/v17/Browse.VC.opendb
/c++/CEP1-MOD1T/.vs/CEP1-MOD1T/v17/Browse.VC.opendb
/.vs/SP-Python-Essentials-DP/v17/Browse.VC.opendb
